.tree {
  list-style-type: none;
}

.tree__branch::before {
  content: "\25B6";
  color: black;
  display: inline-block;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.tree__branch--expanded::before {
  transform: scale(0.7) rotate(90deg);
}

.tree__branch--collapsed::before {
  transform: scale(0.7);
}

.collapsed {
  display: none;
}

.expanded {
  display: block;
}